* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #000002;
  color: white;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  background: rgba(10, 15, 35, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 3px;
  transition: 0.3s;
}

.navbar img {
  width: 180px;
}

.logo span {
  color: #7c4dff;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.btn-primary {
  background: #7c4dff;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.btn-outline {
  background: transparent;
  border: 1px solid #7c4dff;
  padding: 8px 18px;
  border-radius: 6px;
  color: #7c4dff;
  cursor: pointer;
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 8%;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 400;
}

.hero-text p {
  margin-bottom: 30px;
  color: #aaa;
}

.hero-buttons button {
  margin-right: 15px;
}

.hero-image img {
  width: 450px;
  background: rgba(10, 15, 35, 0.8);
  padding: 30px;
  border-radius: 34px;
}

/* About */

.about-section {
  background: #060b1a;
  padding: 100px 0;
  color: #fff;
}

/* .container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
} */

/* Top Layout */
.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.about-text {
  flex: 1;
}

.section-tag {
  color: #8b5cf6;
  letter-spacing: 2px;
  font-size: 14px;
  margin-bottom: 20px;
}

.about-text h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 400;
}

.about-description {
  color: #aaa;
  margin-bottom: 25px;
  max-width: 500px;
}

.about-list {
  list-style: none;
}

.about-list li {
  margin-bottom: 25px;
  color: #ccc;
  position: relative;
  padding-left: 20px;
}

.about-list li::before {
  content: "•";
  color: #8b5cf6;
  position: absolute;
  left: 0;
}

.about-image {
  flex: 1;
  text-align: center;
}

.about-image img {
  max-width: 350px;
  width: 350px;
}

/* What You Can Do */
.what-you-can-do h3 {
  font-size: 28px;
  margin-bottom: 40px;
  font-weight: 400;
}

.cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  min-width: 250px;
  background: rgba(10, 15, 35, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  padding: 30px;
  border-radius: 15px;
  text-align: center;
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card h4 {
  margin-bottom: 15px;
}

.card p {
  color: #aaa;
  margin-bottom: 20px;
}

.card img {
  justify-content: center;
  width: 100px;
  margin: 10px;
}

.card .books-img {
  justify-content: center;
  width: 250px;
  margin: 10px;
}

.card .laptop-img {
  width: 250px;
}

.community-section {
  background: linear-gradient(135deg, #070b1a, #020617);
  padding: 100px 5%;
  color: white;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.section-title {
  font-size: 36px;
  color: #8b5cf6;
  margin-bottom: 20px;
}

.section-subtitle {
  max-width: 600px;
  line-height: 1.6;
  margin-bottom: 60px;
  color: #cbd5e1;
}

/* Testimonials */
.testimonials {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 80px;
}

.testimonial-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 30px;
  width: 260px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(139, 92, 246, 0.2);
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Bottom section */
.community-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
  flex-wrap: wrap;
}

.community-bottom img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.join-btn {
  background: #8b5cf6;
  padding: 14px 30px;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.join-btn:hover {
  background: #7c3aed;
}

.globe {
  width: 150px;
}

/* FAQ */
.faq h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.faq-item {
  background: rgba(255, 255, 255, 0.05);
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.faq-item:hover {
  background: rgba(139, 92, 246, 0.1);
}

.footer {
  background: #050816;
  padding: 80px 5%;
  color: #cbd5e1;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer img {
  width: 180px;
}

/* LEFT */
.footer-left {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.logo h2 {
  font-size: 22px;
  font-weight: 700;
  color: white;
}

.logo span {
  font-size: 14px;
  color: #8b5cf6;
  margin-left: 5px;
}

.tagline {
  font-size: 14px;
  color: #94a3b8;
}

.footer-links {
  display: flex;
  gap: 30px;
}

.footer-links a {
  text-decoration: none;
  color: #cbd5e1;
  font-size: 14px;
  transition: 0.3s ease;
}

.footer-links a:hover {
  color: #8b5cf6;
}

.copyright {
  font-size: 13px;
  color: #64748b;
}

/* RIGHT */
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  text-decoration: none;
  color: #cbd5e1;
  font-size: 15px;
  transition: 0.3s ease;
}

.social-link i {
  color: #8b5cf6;
  font-size: 18px;
}

.social-link:hover {
  color: #8b5cf6;
}

/* Overlay */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(6px);

  display: none;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

/* Show modal */
.modal-overlay.active {
  display: flex;
}

/* Modal box */
.modal {
  background: rgba(15, 20, 40, 0.95);
  padding: 40px;
  width: 90%;
  max-width: 400px;
  border-radius: 16px;
  text-align: center;
  position: relative;
}

.modal h2{
  margin-bottom: 10px;
}

/* Close button */
.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 22px;
  cursor: pointer;
}

/* Form */
.signin-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.signin-form input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.08);
  color: white;
  outline: none;
}

.signin-form input:focus {
  border-color: #6c63ff;
}

.full-btn {
  width: 100%;
  margin-top: 10px;
}

.divider {
  margin: 20px 0;
  opacity: 0.6;
}

/* Responsive */
@media (max-width: 900px) {

  .hamburger {
    display: flex;
  }

  /* Hide menu by default */
  .navbar nav {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: rgba(10, 15, 35, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    display: none;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    gap: 20px;
  }

  nav .button-primary{
    display: flex;
    justify-content: center;
  }

  /* Show when active */
  .navbar nav.active {
    display: flex;
  }


  .hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  .hero-buttons .btn-primary,
  .hero-buttons .btn-outline {
    width: 100%;
    margin: 0;
  }

  .hero {
    text-align: center;
    flex-direction: column;
  }

  .hero h1 {
    font-size: 20px;
  }

  .hero p {
    font-size: 15px;
  }

  .hero-image {
    display: none;
  }

  .about-section {
    padding: 80px;
  }

  .about-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  .about-container {
    padding: 80px 8%;
  }

  .about-text {
    margin-bottom: 40px;
    text-align: center;
  }

  .about-text h2 {
    font-size: 15px;
  }

  .about-text p {
    font-size: 10px;
  }

  .about-list {
    margin-bottom: 20px;
    list-style: none;
    text-align: left;
  }

  .about-image img {
    display: none;
  }

  .what-you-can-do h3 {
    font-size: 20px;
  }

  .what-you-can-do {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }

  .card {
    width: 100%;
    max-width: 100%;
  }

  .card img {
    max-width: 100%;
    height: auto;
  }

  .what-you-can-do {
    text-align: center;
  }

  .community-section {
    text-align: center;
    padding: 100px 20px;

  }

  .section-title {
    font-size: 15px;
  }

  .section-subtitle {
    font-size: 10px;
  }

  .testimonials {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
    gap: 20px;
    padding: 0;
    scroll-snap-type: x mandatory;

  }

  .testimonial-card {
    flex: 0 0 280px;
    margin-bottom: 30px;
    scroll-snap-align: start;

  }

  .testimonials::-webkit-scrollbar {
    height: 8px;
  }

  .testimonials::-webkit-scrollbar-track {
    background: transparent;
  }

  .testimonials::-webkit-scrollbar-thumb {
    background: #8b5cf6;
    border-radius: 10px;
  }

  .testimonials::-webkit-scrollbar-thumb:hover {
    background: #7c3aed;
  }

  .community-bottom img {
    display: none;
  }
}

/* @media (max-width: 768px) {


  .navbar .btn-primary {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .navbar nav {
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    background: rgba(10, 15, 35, 0.95);
    backdrop-filter: blur(10px);
    
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    gap: 20px;
  }

  .navbar nav.active {
    display: flex;
  }

  .navbar nav a,
  .navbar nav .btn-primary {
    display: block;
    margin: 0;
  }

   .hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  .hero-buttons .btn-primary,
  .hero-buttons .btn-outline {
    width: 100%;
    margin: 0;
  }

  .hero {
    text-align: center;
    flex-direction: column;
  }
  .hero h1{
    font-size: 20px;
  }

  .hero p {
    font-size: 15px;
  }

  .hero-image {
    display: none;
  }

  .about-section {
    padding: 80px;
  }

  .about-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  .about-container {
    padding: 80px 8%;
  }

  .about-text {
    margin-bottom: 40px;
    text-align: center;
  }

  .about-text h2 {
    font-size: 15px;
  }

  .about-text p {
    font-size: 10px;
  }

  .about-list {
    margin-bottom: 20px;
    list-style: none;
    text-align: left;
  }

  .about-image img {
    display: none;
  }

  .what-you-can-do h3{
    font-size: 20px;
  }

  .what-you-can-do {
   display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }

  .card {
    width: 100%;
    max-width: 100%;
  }

  .card img {
    max-width: 100%;
    height: auto;
  }

  .what-you-can-do {
    text-align: center;
  }

  .community-section {
    text-align: center;
    padding: 100px 20px;

  }

  .section-title{
    font-size:15px ;
  }

  .section-subtitle{
    font-size: 10px;
  }

  .testimonials {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
    gap: 20px;
    padding: 0;
    scroll-snap-type: x mandatory;

  }

  .testimonial-card {
    flex: 0 0 280px;
    margin-bottom: 30px;
    scroll-snap-align: start;

  }

  .testimonials::-webkit-scrollbar {
    height: 8px;
  }

  .testimonials::-webkit-scrollbar-track {
    background: transparent;
  }

  .testimonials::-webkit-scrollbar-thumb {
    background: #8b5cf6;
    border-radius: 10px;
  }

  .testimonials::-webkit-scrollbar-thumb:hover {
    background: #7c3aed;
  }

  .community-bottom img {
    display: none;
  }
}
 */